<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token%}
    <h1>Create Student</h1>
    <p>Name</p>
    <input type="text" name="name">
    <p>Email</p>
    <input type="text" name="email">
    <p>Class Code</p>
    <input type="text" name="class_code">
    <p>Courses</p>
    <select name="course" required >
        <option value="" selected>---------</option>

        <option value="B">Backend</option>

        <option value="F">Frontend</option>

        <option value="D">Data Science</option>
    </select>
    <br>
    <input type="submit" name="" value="Register">
    </form>
</body>
</html>